<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" th:fragment="all_table">
    <div class="col-sm-12">
        <table class="table" id="listTable">
            <thead>
            <th scope="col">Id сообщения</th>
            <th scope="col">Дата</th>
            <th scope="col">Сервис</th>
            <th scope="col">Ответ</th>
            <th scope="col">Дата ответа</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script src="/js/list_all.js"></script>
</div>
</body>
</html>